<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= paginate @people %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td>
          <%= link_to "#{person.name} #{person.last_name}", person %>
          <% if current_person == person %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_person_path(person), :class => 'btn btn-default btn-xs' %>
          <% end %>       
        </td>
        <td><%= time_ago_in_words(person.created_at) %> ago.</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @people %>
