<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<% if @person == current_person %>
	<%= link_to 'Edit', edit_person_path(@person) %> |
	<%= link_to 'Change password', edit_person_registration_path %>
<% end %>

<p>
  <strong>My_publications:</strong>
</p>

<table>
  <tbody>
    <ul>
      <%= render partial: 'articles/article', collection: @publications %>
    </ul>
  </tbody>
</table>

<p>
  <strong>My_drafts:</strong>
</p>

<table>
  <tbody>
    <ul>
      <%= render partial: 'articles/article', collection: @drafts %>
    </ul>
  </tbody>
</table>

<br>
