<%- model_class = Person -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.titleize %>
    <%= @person.name %>
  </h1>
  <%= image_tag @person.avatar.url if @person.avatar? %>
</div>

<% if @person == current_person %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_person_path(@person), :class => 'btn btn-default' %>
  <%= link_to 'Change password', edit_person_registration_path, :class => 'btn btn-warning' %>
<% end %>

<% if @publications %>
  <% if @publications.any? %>
    <h3>Publications:</h3>
  <% end %>
<% end %>

<%= render partial: 'articles/article', collection: @publications %><br>

<% if @drafts %>
  <% if @drafts.any? %>
    <h3>Drafts:</h3>
  <% end %>
<% end %>

<%= render partial: 'articles/article', collection: @drafts %><br>
