<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<% if @person == current_person %>
	<%= link_to 'Edit', edit_person_path(@person) %> |
	<%= link_to 'Change password', edit_person_registration_path %>
<% end %>

<p>
  <strong>Publications:</strong>
</p>

<table>
  <tbody>
    <ul>
      <%= render partial: 'articles/article', collection: @publications %>
    </ul>
  </tbody>
</table>

<% if @drafts %>
  <% if @drafts.any? %>
    <p>
      <strong>Drafts:</strong>
    </p>
  <% end %>
<% end %>

<table>
  <tbody>
    <ul>
      <%= render partial: 'articles/article', collection: @drafts %>
    </ul>
  </tbody>
</table>

<br>
