<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.person.name %>
</p>

<% if @article.publication == true %>
  <p>
    <strong>Comments:</strong>
    <%= render partial: 'comments/comment', collection: @article.comments %>
  </p>

  <p>
    <strong>Add a comment:</strong>
  	<%= render 'comments/form' %>
  </p>
<% end %>

<% if current_person_can_edit?(@article) %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% else %>
  <%= link_to 'Back', :back %>
<% end %>
